/* PLACE YOU CUSTOM STYLES IN THIS FILE */
#flags-button{
    width: 100%;
    background: transparent;
    border-radius: 0;
    border: 1px solid #303e47;
    padding: 9.5px 10px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}

.ui-widget-content{
    height: 300px;
}

.nk-form .invalid-feedback{
    display: block;
}

.btn-side-bar{
    width: 150px;
    margin: 10px auto 0;
    display: block;
    color: #fff !important;
}

.nk-last-forum{
    background-color: #232930;
    margin: 0;
    padding: 20px;
}

.nk-last-forum p{
    margin-bottom: 5px;
}

.nk-last-forum:nth-child(2n){
    background-color: #171e22;
}

.nk-widget-stream{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.nk-widget-stream-status{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.nk-widget-stream-flag{
    width: 35px;
    margin-right: 15px;
}

.nk-widget-stream-flag img{
    width: 100%;
    height: auto;
}

.nk-widget-stream-name,.nk-widget-stream-count{
    color: #fff;
}

.nk-widget-stream:hover .nk-widget-stream-name,.nk-widget-stream:hover .nk-widget-stream-count{
    color: #8a1327;
}

.nk-widget-stream-count img{
    width: 25px;
}

.nk-widget-stream-count{
    position: absolute;
    right: 0;
    top: 0;
}

.team-content, .map-content{
    padding: 20px;
    background-color: #232930;
    border: 1px solid #293139;
}

#brackets img{
    width: 25px;
}
img {
    max-width: 100%;
}
.logo-team-block{
    display: flex !important;
    flex-wrap: nowrap !important;
}
.team-content.maps img{
    width: 100%;
}

.nk-match-team-logo{
    width: 85px;
}

.nano-content a:hover{
    text-decoration: none !important;
}

#brackets{
    overflow-x: scroll;
}

.flag{
    max-width: 20px !important;
    height: 9px !important;
}

.nk-news-box-item-title-wrapper{
    position: relative;
    margin-top: 8px;
}

.nk-news-box-item-title-comment-wrapper{
    position: absolute;
    top: -5px;
    right: 0;
}

.ui-icon.avatar{
    background-size: contain;
    width: 21px;
}

.map-wrapper{
    position: relative;
}

.with-50{
    width: 50px;
}

.pagination{
    justify-content: center;
    margin-top: 15px;
}

.map-name-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.title-latest-home{
    font-size: 0.6rem !important;
}

.profile-flag{
    width: 23px;
    height: 14px;
    margin-right: 5px;
}

.topic-avatar{
    width: 100px;
}

.thread-wrapper,.post-wrapper{
    position: relative;
}

.thread-action-wrapper{
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.thread-wrapper:first-child .thread-action-wrapper{
    top: 35px;
}

.post-delete-wrapper{
    position: absolute;
    top: 0;
    right: 10px;
}

.thread-action-wrapper a{
    flex-basis: 100%;
}

iframe{
    width: 100% !important;
}

blockquote,.chat-board{
    background: rgb(28, 33, 39);
    padding: 20px;
    border-radius: 5px;
}

.nk-news-box-list h6{
    font-weight: 400;
}

.nk-post-img-block{
    width: 100%;
    min-height: 160px;
    background-size: cover;
    background: no-repeat 50% 0;
}

.news-banner{
    width: 100%;
    height: 100px;
    background-size: cover;
    background: no-repeat center;
}

.profile-button{
    display: flex;
}

.upload_input{
    display: none;
}

button.note-btn[aria-label="Picture"]{
    display: none;
}

@media (min-width: 1200px) {
    .nk-main > .container {
        max-width: 870px;
    }
}

@media only screen and (max-width : 992px) {
    h3, .h3 {
        font-size: 1.5rem;
    }

    iframe{
        width: 90% !important;
    }
}