/* PLACE YOU CUSTOM STYLES IN THIS FILE */
#flags-button{
    width: 100%;
    background: transparent;
    border-radius: 0;
    border: 1px solid #303e47;
    padding: 9.5px 10px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}

.ui-widget-content{
    height: 300px;
}

.nk-form .invalid-feedback{
    display: block;
}

.btn-side-bar{
    width: 150px;
    margin: 10px auto 0;
    display: block;
    color: #fff !important;
}

.nk-last-forum{
    background-color: #232930;
    margin: 0;
    padding: 20px;
}

.nk-last-forum p{
    margin-bottom: 5px;
}

.nk-last-forum:nth-child(2n){
    background-color: #171e22;
}

.nk-widget-stream{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.nk-widget-stream-status{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.nk-widget-stream-flag{
    width: 35px;
    margin-right: 15px;
}

.nk-widget-stream-flag img{
    width: 100%;
    height: auto;
}

.nk-widget-stream-name,.nk-widget-stream-count{
    color: #fff;
}

.nk-widget-stream:hover .nk-widget-stream-name,.nk-widget-stream:hover .nk-widget-stream-count{
    color: #8a1327;
}

.nk-widget-stream-count{
    position: absolute;
    right: 15px;
    top: 0;
}

.team-content, .map-content{
    padding: 20px;
    background-color: #232930;
    border: 1px solid #293139;
}

#brackets img{
    width: 25px;
}
img {
    max-width: 100%;
}
.logo-team-block{
    display: flex !important;
    flex-wrap: nowrap !important;
}
.team-content.maps img{
    width: 100%;
}

.nk-match-team-logo{
    width: 85px;
}

.nano-content a:hover{
    text-decoration: none !important;
}

#brackets{
    overflow-x: scroll;
}

@media (min-width: 1200px) {
    .nk-main > .container {
        max-width: 870px;
    }
}

@media only screen and (max-width : 992px) {
    h3, .h3 {
        font-size: 1.5rem;
    }
}